

body {
  text-align: center;
}

.ourSchool_mainDiv img {
  width: 1000px;
}

.schoollife_mainDiv img {
  width: 1000px;
}
.welcome_mainDiv img{
  width: 1000px;
}
.WhatsNew_mainDiv img{
  width: 1000px;
}
.writing_mainDiv img{
  width: 200px;
}
.school_head{
  font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.school_head i{
  float: right;
}
.school span{
  color: orange;
}
